*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(378deg, #f8ceec 0%, #a88beb 74%);
}

h1 {
    margin: 2rem 0 0 42%;
    font-size: 3rem;
    font-weight: 400;
}

.start, .submit {
    margin: 2rem 0 2rem 45%;
    padding: .8rem;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 1.4rem;
    transition: all .3s ease;
}

.start:hover, .submit:hover {
    background: rgba(28, 22, 22, 0.776);
    color: #ccc;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    gap: 4rem;
    margin-left: 33%;
}

.box {
    padding: 5rem;
    border: 1px solid #333;
    width: 10%;
    margin: 1rem .5rem;
    background-color: #777;
}
